@import "../utils/parameters";

.delivery_row {
  display: flex;
  flex-wrap: wrap;
}

.delivery_column {
  width: 25%;
  padding: 15px 20px;
  display: flex;
  
}

.delivery{
 padding: 100px 15px 50px 15px;
}

.delivery_content {
  max-width: 25rem;
  padding: 2.5rem;
  text-align: center;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.03);
  box-sizing: border-box;
  border-radius: 7px;

  &:hover{
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
  }
}

.delivery_content p {
flex: 1 1 auto;
font-family: Hind Madurai;
font-weight: normal;
font-size: 1.4rem;
line-height: 1.9rem;
text-align: center;
color: #000000;
opacity: 0.6;
}

.delivery_subtitle {
padding:25px 0 10px 0 ;
font-family: Hind Madurai;
font-style: normal;
font-weight: 60rem;
font-size: 2rem;
line-height: 2.8rem;
color: #000000;
}
// @media (max-width: 770px) {
//   .why {
//     padding: 60px 0px;
//   }

//   .why_column {
//     width: 50%;
//   }
// }

// @media (max-width: 480px) {
//   .why {
//     padding: 20px 0px;
//   }

//   .why_column {
//     padding: 10px 15px;
//     width: 100%;
//     display: block;
//   }

//   .why img {
//     margin: 0px 0px 20px 0px;
//   }

//   .why_subtitle {
//     font-size: 2rem;
//   }

//   .why_content p {
//     font-size: 1.4rem;
//   }
// }