@import "../utils/parameters";

.details {
  background:rgba(242, 206, 218, 0.3);
  overflow: hidden;
  max-height: 54.5rem;
  padding-top: 14rem;
  padding-bottom: 13.7rem;
  margin-top: 5rem;
 

  .container {
    position: relative;
  }

  &__content {
    max-width: 44rem;  
    min-height: 72rem;
  }

  &__title {
    color: $c-text;
    font-family: Hind Madurai;
    font-size: 4.42rem;
    font-weight: 600;
    max-width: 32rem;
    display: block;
    margin-bottom: 1.6rem;
  }

    img {
      margin-left: 1rem;
      z-index: 0;
    }

    &__button {
    display: inline-block;
    background-color: $c-secondary;
    border-radius: 0.5rem;
    border: 0.2rem solid $c-secondary;
    font-family: Hind Madurai;
    font-weight: bold;
    font-size: 1.6rem;
    color: #fafafa;
    padding: 1.4rem 5rem 1.4rem 5rem;
    margin-top: 5rem;

    &:hover {
      background-color: $c-text2;
      color: $c-secondary;
    }
  }
  

  &__img {
    position: absolute;
    right: 0rem;
    bottom: 35rem;
    max-width: 40vw; 
     }

  .description {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-family: Roboto;
    color: rgba(21, 1, 1, 0.6);
    margin-bottom: 2.2rem;
  }

}

// 1024px;
@media screen and (max-width: $md) {
    .details {

        &__title {
            font-size: 5rem;
        }

        &__img {
            right: 0;
        }
    }
}

// 768px;
@media screen and (max-width: $sm) {
    .details {

        &__content {
            min-height: auto;
            padding: 14rem 0 0;
            text-align: center;
        }

        &__title {
            font-size: 4rem;
            margin: 0 0 3rem;
        }

        .description{
          max-width: 90vw;
        }

        // &__link {
        //     padding: 1.2rem 1.5rem;
        // }

        &__img {
            position: static;
            max-width: 100%;
        }
    }
}

//576px;

@media screen and (max-width: $xs) {
    .details {
        &__content {
            min-height: auto;
            padding: 14rem 0 0;
        }

        &__title {
            font-size: 3rem;
            margin: 0 0 3rem;
        }

        // &__link {
        //     padding: 1.2rem 1.5rem;
        // }

        &__img {
            position: static;
            max-width: 100%;
        }
    }
}
