@import "../utils/parameters";

.header {
    padding: 3.1rem 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        // margin-bottom: 15rem;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

.logo {
    display: inline-block;
}

.nav{
    margin-right: 17.2rem;
    display: inline-block;
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: #150101;
    max-width: 70vw;

    &.nav a{
        padding:0 2rem 0 2rem;
        opacity: 0.6;
    }

    &.nav a:hover{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: $c-secondary;
    opacity: 1;
    }

    ul{
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
    }

    li{
    display: inline;
    float: left;
    }

    .button{
    display: inline-block;
    background-color: $c-secondary;
    border-radius: 0.5rem;
    border:0.2rem solid $c-secondary;
    font-family: Hind Madurai;
    font-weight: bold;
    font-size: 1.6rem;
    color: #FAFAFA;
    padding:1.4rem 5rem 1.4rem 5rem;
   
    &:hover{
        background-color: $c-text2;
        color: $c-secondary;
    }
}
}


 @media screen and (max-width: $sm) {
     ul{
         display: none;
     }
     nav a{  
        content:"";  
        background: url('nav-icon.svg') no-repeat;  
        width: 30px;  
        height: 30px;  
        display: inline-block;  
        position: absolute;  
        // rightright: 15px;  
        top: 10px;  
    }  

}

@media screen and (max-width: $xs) {

    .header {
        padding: 1rem 0;

        &__row {
            justify-content: center;
        }

        &__links {
            justify-content: flex-start;
        }
    }

    .logo {
        margin: 0 0 1.5rem;
    }

    .link-header {
        padding: 1.1rem 1.2rem;
        margin-left: 0;
    }

}