@import "../utils/parameters";

.order{
  background:rgba(242, 206, 218, 0.3);

    &__wrap{
        display: flex;
        max-height: 64rem;
    }

    &__phone-wrap{
    display: block;
    position: relative;
    max-width: 30vw;
    height: auto;
    margin-right: 13.4rem;
    padding-top: 6rem;
    }

    &__info-wrap{
        display: flex;
        padding-top: 12.5rem;
        flex-direction: column;
        align-content: center;
        align-items: flex-start;
    }

    &__title{
        font-weight: 500;
        font-size: 4.4rem;
        line-height: 5.2rem;
        color: #000000;
        padding-bottom: 2rem;
    }

    &__text{
        font-size: 1.8rem;
        line-height: 2.1rem;
        letter-spacing: 0.01em;
        color: #0F0101;
        opacity: 0.7;
        max-width: 60.7rem;
    }
    
    &__steps{
        padding-top: 3.1rem;
        font-size: 2.2rem;
        line-height: 2.6rem;
        color: #000000;
    }

    &__step-select{
        display: flex;
        padding:0 0 1.5rem;
    }

    &__txt{
        margin-left: 1rem;
    }
    
    &__step-add{
        display: flex;
        padding:0 0 1.5rem;
    }

    &__step-order{
        display: flex;
    }

    &__social-img{
        padding-top: 4rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        :first-child{
            padding-right: 2rem;
        }
    }
}


// 768px;
@media screen and (max-width: $sm) {
    .order{
        text-align: center;
        &__phone-wrap {
            display: none;
        }
        &__info-wrap{
            margin: auto;
        }
        &__steps{
            margin: auto;
        }
        &__social-img{
            margin: auto;
        }
}

//576px;
@media screen and (max-width: $xs) {
    .order {
        text-align: center;
        &__social-img{
            display: block;
        }
    }
}
}