@import "../utils/parameters";

.menu {
  padding: 3.1rem 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 110rem;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

.nav_categ {
  margin-right: 17.2rem;
  display: inline-block;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: #150101;
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  margin-bottom: 5rem;

  &.nav_categ a {
    padding: 0 2rem 0 2rem;
    opacity: 0.6;
  }

  &.nav_categ a:hover {
    color: #150101;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.1rem;
    border-bottom: solid 5px $c-secondary;
    opacity: 1;
  }
}

.products {
  overflow: hidden;
  padding-top: 19rem;
 

  .container {
    position: relative;
  }

  &__title {
    color: $c-text;
    font-family: Hind Madurai;
    font-size: 4.42rem;
    font-weight: 600;
    display: block;
    margin-bottom: 6rem;
    text-align: center;
  }
  }

.prod{
    &__wrap{
    display: flex;

    }
    &__revers{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

    }

    &__revers-img-wrap{
      margin-left:8.5rem;
      margin-bottom: 3rem;
    }

    &__img-wrap{
      display: flex;
      max-width: 58rem;
      margin-right: 8.5rem;
      margin-bottom: 3rem;
    }
    

    &__img{
      max-width: 100%;
    }


    &__info-wrap{
      display: flex;
      flex-direction: column;
      max-width: 45.4rem;
      padding-top: 6rem;
    }

    &__info-wrap-revers{
      display: flex;
      flex-direction: column;
      max-width: 45.4rem;
      padding-top: 6rem;
      align-items: flex-end;
    }


    &__title{
    font-family: Hind Madurai;
    font-weight: bold;
    font-size: 2.6rem;
    line-height: 3.6rem;
    color: #000000;
    padding-bottom: 1.1rem;
    }

    &__description{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #000000;
    opacity: 0.7;
    padding-bottom: 2.8rem;
    }

    &__description-revert{
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #000000;
    opacity: 0.7;
    padding-bottom: 2.8rem;
    text-align: right;
    }


    &__sale{
    font-family: Hind Madurai;
    font-weight: 500;
    font-size: 2.6rem;
    line-height: 3.6rem;
    color: #000000;
    }
    .old__sale{
    font-size: 2rem;
    line-height: 2.8rem;
    text-decoration-line: line-through;
    opacity: 0.7;
    }

    &__button{
      display: block;
      background-color: $c-secondary;
      border-radius: 0.5rem;
      border: 0.2rem solid $c-secondary;
      font-family: Hind Madurai;
      font-weight: bold;
      font-size: 1.5rem;
      color: #fafafa;
      padding: 1.4rem 5rem 1.4rem 5rem;
      margin-top: 1.6rem;
      max-width: 16.5rem;
      max-height: 4.9rem;

      &:hover {
        background-color: $c-text2;
        color: $c-secondary;
      }
    }
}

// // 1024px;
// @media screen and (max-width: $md) {
//     .prod {

//         &__title {
//             font-size: 5rem;
//         }

//         &__img {
//             right: 0;
//         }
//     }
// }

// 768px;
@media screen and (max-width: $sm) {
    .prod {
        &__wrap {
            min-height: auto;
            padding: 14rem 0 0;
            text-align: center;
            display: block;
        }

        &__title {
            font-size: 4rem;
            margin: 0 0 3rem;
        }

        .description{
          max-width: 60vw;
        }

        &__img {
            position: static;
            max-width: 90vw;
        }
    }
}

//576px;

@media screen and (max-width: $xs) {
    .prod {
        &__wrap {
            min-height: auto;
            padding: 14rem 0 0;
            text-align: center;
            display: block;
        }

        &__revers{
          min-height: auto;
          padding: 10rem 0 0;
          text-align: center;
          display: block;
        }

        &__title {
            font-size: 3rem;
            margin: 0 0 3rem;
        }

        &__img {
            position: static;
            max-width: 90vw;
        }
    }
}
