@import "../utils/parameters";

.question{

    &__wrap{
        margin-top: 19.1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 13rem;
    }

    &__title{
        max-width: 52.2rem;
        font-weight: 500;
        font-size: 4.4rem;
        line-height: 5.2rem;
        text-align: center;
        color: #000000;
        padding-bottom: 2.8rem;
    }

    &__form{
        max-height: 7.4rem;
        display: flex;
       
    }

    input {
        width: 55rem;
        height: 7.4rem;
        padding-top: 2rem;
        padding-left:2rem;
        padding-bottom: 1.5rem;
        background: #fafafa;  
        border-radius: 5px;
}

    &__field{ 
        width: 50rem;
        height: 7.4rem;

        &::placeholder{
            font-size: 1.4rem;
            line-height: 1.6rem;
            color:rgba(15, 1, 1, 0.6);
        }
    }

    &__button{
        display: block;
        background-color: $c-secondary;
        border-radius: 0.5rem;
        border: 0.2rem solid $c-secondary;
        font-weight: 500;
        font-size: 2rem;
        color: #fafafa;
        padding: 2rem 4.5rem 3rem 4.5rem;
        max-width: 13.4rem;
        max-height: 7.4rem;

      &:hover {
        background-color: $c-text2;
        color: $c-secondary;
      }
    }
}