section.comments
    .container
        .comments__wrap
            .comments__info-wrap 
                .comments__main-wrap
                    img(src="./assets/imgs/adele-main.png", alt="Adele").comments__img-main
                    .comment_main-text
                        .comments__title Adele A. McNeill
                        .comments__location AMIRICAN
                .comments__text-wrap
                    img(src="./assets/imgs/top.svg", alt="top")
                    .comments__text Thanks a lot for the prompt service. Really appreciate. Excellence taste in Every Bite.Add a joy of best Taste. Foodie Moments.
                    img(src="./assets/imgs/bottom.svg", alt="bottom")
                .comments__slider
                    img(src="./assets/imgs/left-arrow.svg", alt="left-arrow")
                    img(src="./assets/imgs/mean.png", alt="mean")
                    img(src="./assets/imgs/adele-pink.png", alt="Adele")
                    img(src="./assets/imgs/adele-min.png", alt="Adele")
                    img(src="./assets/imgs/right-arrow.svg", alt="right-arrow")
            .comments__img 
                img(src="./assets/imgs/3ice.png", alt="ice")