section.delivery
  .container
    .delivery_row
      .delivery_column
        .delivery_content
          img(src='./assets/imgs/car.svg' alt='car')
          h3.delivery_subtitle Free Shipping
          p Last Chance! Free shipping on all orders ends today.
      .delivery_column
        .delivery_content
          img(src='./assets/imgs/two.svg' alt='two')
          h3.delivery_subtitle Quick Packaging
          p Last Chance! Free shipping on all orders ends today.
      .delivery_column
        .delivery_content
          img(src='./assets/imgs/cash.svg' alt='cash')
          h3.delivery_subtitle 100% Money Back
          p Last Chance! Free shipping on all orders ends today.
      .delivery_column
        .delivery_content
          img(src='./assets/imgs/fast.svg' alt='fast')
          h3.delivery_subtitle Fast Delivery
          p Last Chance! Free shipping on all orders ends today.
