section.details
    .container 
        .details__content 
            .details__info-wrap
                span.details__title Brown Sugar Oatmea
                p.details__description Together with McDonald’s, Burger King has grown to become synonymous with burgers in the US.Together with McDonald’s, Burger King has grown to become synonymous.
                a(href="#").details__button See Details
            .details__img-wrap
                img(src="./assets/imgs/ice.png", alt="ice").details__img