section.details
    .container 
        .details__content 
            span.details__title Brown Sugar Oatmea
            p.description Together with McDonald’s, Burger King has grown to become synonymous with burgers in the US.Together with McDonald’s, Burger King has grown to become synonymous.
            a(href="#").details__button See Details
            img(src="./assets/imgs/ice.png", alt="ice").details__img