section.first-section
    .container 
        .first-section__content 
            p.first Sweet fun, full of milk.
            h1.first-section__title 
                span.main-title Feel inside cold with 
                    br our delicious 
                    span.pink ice-cream.
            p.description Some food has looked so awful that it's looked like something that the dog's brought home, yet after one mouthful I've been left eating my thoughts, my words.   
            a(href="#").first-section__link.button Buy Now
            img(src="./assets/imgs/ice-cream.png", alt="ice-cream").first-section__img        