footer.footer
    .content 
        .footer__main
            .footer__social
                img(src="./assets/imgs/logo.png", alt="logo")
                .footer__txt Some food has looked so awful that it's looked like something that the dog's brought home.
                .footer__soc Fllow Us
                .footer__icon
                    img(src="./assets/imgs/faceb.png", alt="facebook")
                    img(src="./assets/imgs/twit.png", alt="twitter")
                    img(src="./assets/imgs/inst.png", alt="instagram")
                    img(src="./assets/imgs/link.png", alt="linkedin")

            .footer__two-wrap
                .footer__text Home
                .footer__text Product
                .footer__text Pricing
                .footer__text Testimonials
                .footer__text Contact Us
            .footer__three-wrap 
                .footer__txt Delivery Information
                .footer__txt Privacy Policy
                .footer__txt Terms & Condition
                .footer__txt Search Terms
                .footer__txt Order & Return
            .footer__four-wrap 
                .footer__title Newsletter
                form
                    .footer__field
                        input(type="text" id="user-name" placeholder ="Your Email")
                    button Subscribe
                .footer__icons
                        img(src="./assets/imgs/pp.svg", alt="pp")
                        img(src="./assets/imgs/mastercard.svg", alt="mastercard")
                        img(src="./assets/imgs/visa.svg", alt="visa")
