footer.footer
    .content 
        .footer__main
            .footer__social
                img(src="./assets/imgs/logo.png", alt="logo")
                .footer__text Some food has looked so awful that it's looked like something that the dog's brought home.
                .footer__soc Fllow Us
                    .footer__icon
                        img(src="./assets/imgs/faceb.png", alt="facebook")
                        img(src="./assets/imgs/twit.png", alt="twitter")
                        img(src="./assets/imgs/inst.png", alt="instagram")
                        img(src="./assets/imgs/link.png", alt="linkedin")
            .footer__menu
                a(href="#") Home   
                a(href="#") Product
                a(href="#") Pricing
                a(href="#") Testimonials
                a(href="#") Contact Us

