header.header 
    div.container
        .header__row 
            a(href="index.html").logo
                img(src="./assets/imgs/logo.png", alt="logo").logo__img
            .header__links 
                .link-menu
                    a(href="#") Home   
                    a(href="#") Product
                    a(href="#") Pricing
                    a(href="#") Testimonials
                    a(href="#") Contact Us
                a(href="#").button Buy Now