header.header 
    div.container
        .header__row 
            a(href="index.html").logo
                img(src="./assets/imgs/logo.png", alt="logo").logo__img
            .header__links 
                .nav
                    ul 
                        li
                            a(href="#") Home 
                        li  
                            a(href="#") Product
                        li
                            a(href="#") Pricing
                        li
                            a(href="#") Testimonials
                        li
                            a(href="#") Contact Us
            
                a(href="#").button Buy Now