section.order
    .container
        .order__wrap
            .order__phone-wrap 
                img(src="./assets/imgs/phone.png", alt="phone")
            .order__info-wrap 
                .order__title Simple Way To Order Your Food
                .order__text Some food has looked so awful that it's looked like something that the dog's brought home, yet after one mouthful I've been left eating my thoughts.
                .order__steps
                    .order__step-select
                        img(src="./assets/imgs/hand.svg", alt="hand")
                        .order__txt Select Your Food
                         
                    .order__step-add 
                        img(src="./assets/imgs/cart.svg", alt="cart")
                        .order__txt Add To Cart
                    .order__step-order 
                        img(src="./assets/imgs/write.svg", alt="write")
                        .order__txt Order Your Food
                        
                .order__social-img
                    img(src="./assets/imgs/google-play.png", alt="google-play")
                    img(src="./assets/imgs/app-store.png", alt="app-store")
