section.products
    .container 
        .products__content 
            img(src="./assets/imgs/cayenne_chocolate.png", alt="cayenne_chocolate").products__img
            span.products__title Cayenne chocolate
            p.description Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
            p $19.55
            a(href="#").button Buy Now