section.products
    .container
        .products__title Our Product
        .menu__row 
            .menu__links 
                .nav
                    a(href="#") ICE CREAM   
                    a(href="#") CAYENNE CHOCOLATE
                    a(href="#") CAKE BATTER
                    a(href="#") CANDY CANE
                    a(href="#") PLATTERS
                    a(href="#") DESSERT

            //- img(src="./assets/imgs/cayenne_chocolate.png", alt="cayenne_chocolate").products__img
            //- span.products__subtitle Cayenne chocolate
            //- p.description Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
            //- p $19.55
            //- a(href="#").button Buy Now