section.products
    .container
        .products__title Our Product
        .menu__row 
            .menu__link 
                .nav_categ
                    ul 
                        li 
                            a(href="#") ICE CREAM 
                        li  
                            a(href="#") CAYENNE CHOCOLATE
                        li
                            a(href="#") CAKE BATTER
                        li 
                            a(href="#") CANDY CANE
                        li
                            a(href="#") PLATTERS
                        li
                            a(href="#") DESSERT
            
        //- 1
        .prod__wrap
            .prod__img-wrap 
                img(src="./assets/imgs/brown_bred.png", alt="brown_bred").prod__img 
            .prod__info-wrap 
                .prod__title Brown bread
                .prod__description Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
                .prod__sale $19.55 
                //- .old__sale $22.55
                .prod__button Buy Now
        //- 2
        .prod__revers
            .prod__revers-img-wrap
                img(src="./assets/imgs/cayenne_chocolate.png", alt="cayenne_chocolate").prod__img 
            .prod__info-wrap-revers
                .prod__title Cayenne chocolate
                .prod__description-revert Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
                .prod__sale $19.55 
                    //- span.old__sale $22.55
                .prod__button Buy Now
        //- 3  
        .prod__wrap
            .prod__img-wrap 
                img(src="./assets/imgs/sweet_corn.png", alt="sweet_corn").prod__img 
            .prod__info-wrap 
                .prod__title Sweet corn
                .prod__description Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.Bon Au Pain is a pioneer in the healthy fast food scene.
                .prod__sale $19.55 
                    //- span.old__sale $22.55
                .prod__button Buy Now
