section.question
    .container
        .question__wrap
            .question__title Have Question in Mind? Let us help you
            form
                .question__field
                    input(type="text" id="user-name" placeholder ="Enter your question")
                button Send